
.elements__element {
    display: grid;
    grid-template-areas:
    'photo trash'
    'name like';
    grid-template-columns: 80% 20%;
    grid-template-rows: 80% 20%;
    list-style: none;
    color: black;
    background-color: white;
    max-width: 282px;
    max-height: 361px;
    border-radius: 10px;
}
