.footer__caption {
    max-width: 318px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color:#545454;
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 1024px) {
    .footer__caption {
        max-width: 282px;
        font-size: 14px;
        line-height: 17px;
    }
}