.popup__input {

    width: 358px;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: left;

color: #000000;

outline: none;
border: none;
margin: 0;
padding: 0 0 13px;

border-bottom: 1px solid rgb(204, 204, 204);

}




@media screen and (max-width: 880px) {
    .popup__input {
        font-size: 14px;
        line-height: 17px;
        max-width: 282px;
    }
}