.elements__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    column-gap: 17px;
    row-gap: 20px;
}


@media screen and (max-width: 1024px) {
    .elements__list {
        max-width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
}

@media screen and (max-width: 820px) {
    .elements__list {
        max-width: 282px;
        
    }
}