.elements__like {
    grid-area: like;
    background-image: url(../../../../images/like.svg);
    width: 22px;
    height: 19px;
    background-color: transparent;
    border: none;
    outline: none;
    object-fit: cover;
    background-repeat: no-repeat;

    justify-self: center;
    align-self: center;
}

.elements__like:hover {
    opacity: .8;
    cursor: pointer;
}

