.profile__add {
    grid-area: add;
    background-image: url(../../../../images/add-button.svg);
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 50px;
    background-color: black;

    justify-self: flex-end;
    align-self: center;
    outline: none;
    border: white 1px solid;
    
}

.profile__add:hover {

    opacity: .6;
    cursor: pointer;
}