.profile__edit {
    grid-area: edit;
    margin-top: 37px;
    background-image: url(../../../../images/edit-button.svg);
    background-size: cover;
    background-position: center;
    width: 24px;
    height: 24px;
    background-color: black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    outline: none;
    border: white 1px solid;
}

@media screen and (max-width: 1024px) {
    .profile__edit {
        margin-top: 30px;
    }
}

.profile__edit:hover {

    opacity: .6;
    cursor: pointer;
}