.header {
    max-width: 880px;
    padding-top: 45px;
    padding-bottom: 36px;
    margin: 0 auto;
    background-color: #000000;
}


@media screen and (max-width: 1024px) {
    .header {
        max-width: 282px;
        padding-bottom: 38px;

    }
}