.popup__info_header {
    margin-top: 34px;
    text-align: left;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

@media screen and (max-width: 880px) {
    .popup__info_header {
        font-size: 18px;
        font-style: normal;
        line-height: 22px;
        letter-spacing: 0em;
    }
}