.cards__item {
    max-width: 282px;
    border-radius: 10px;


    list-style-type: none;
    background-color: white;
    border-radius: 10px;

    display: grid;
    grid-template-areas: 
    "photo delete"
    "place like";
    grid-template-columns: 80% 20%;
    grid-template-rows: 80% 20%;



    
}