.popup__close {
    position: fixed;
    top: 146px;
    left: 50%;
    margin-left: 215px;
    width: 40px;
    height: 40px;
    z-index: 2;
}

@media screen and (max-width: 1024px) {
    .popup__close {
        width: 26px;
        height: 26px;
        top: 73px;
        left: 50%;
        margin-left: 120px;
    }
}

.popup__close:hover {
    opacity: 80%;
    cursor: pointer;
}