.popup__close {
    background-image: url(../../../images/Close-icon.svg);
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    border-radius: 10px;
    align-self: flex-end;
}

@media screen and (max-width: 1024px) {
    .popup__close {
        width: 26px;
        height: 26px;
        margin-bottom: 13px;
    }
}

.popup__close:hover {
    opacity: 80%;
    cursor: pointer;
}
