.popup__window {
    max-width: 358px;
    display: flex;
    flex-direction: column;
    padding: 34px 36px;
    border-radius: 10px;
    background-color: #FFFFFF;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .popup__window {
        max-width: 282px;
        padding: 25px 22px;
    }
}
