.elements__trash {
    grid-area: trash;
    background-image: url(../../../../images/Trash.svg);
    width: 18px;
    height: 19px;
    background-color: transparent;
    border: none;
    outline: none;
    object-fit: cover;
    background-repeat: no-repeat;
    margin-top: 18px;
    justify-self: center;
    align-self: flex-start;
    z-index: 1;
}

.elements__trash:hover {

    opacity: .6;
    cursor: pointer;
}