.popup__container_avatar {
    max-width: 75vw;
    max-height: 75vh;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
}

.popup__image_avatar {
    max-width: 75vw;
    max-height: 75vh;
    object-fit: contain;
    background-size: contain;
    background-position: center;
    min-width: 320px;

}