.popup__container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    position: relative;
    margin: 195px auto 0;  
}


@media screen and (max-width: 880px) {
    .popup__container {
        margin: 122px auto 0; 

    }
}