.profile__info {
    grid-area: info;
    max-width: 336px;
    display: grid;
    grid-template-columns: 85%;
    grid-template-areas:
    'name edit'
    'job job';
    column-gap: 17px;
}

@media screen and (max-width: 1024px) {
    .profile__info {
        column-gap: 10px;
    }
}